body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background: #E5E5E5;
}

/*
header {
  position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;
background: #FFFFFF;
}

.logo {
  position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: black;
}

.site-nav {
position: absolute;
width: 294px;
height: 16px;
left: 453px;
top: 32px;
}

.haeder-contact-mail {
position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
}

.haeder-contact-tel {
position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;

}*/
