:root{
  --primary-text-color:#757575;
  --title-color:#212121;
  --link-hover-color: #2196F3;
  --primary-bg-color: #2F303A;
  --bg-color-wite: #fff;
  --bg-color-grey: #F5F4FA;

}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background: #fff;
  color: var(--primary-text-color);
}

.list{
  list-style: none;
}

.logo {
font-family: 'Raleway';
color: black;
}

.logo:hover{
  color: var(--link-hover-color);
}

/* site-nav */
.site-nav .link {
color: #212121
}

.site-nav .link:hover,
.site-nav .link:focus
{
  color: var(--link-hover-color);
}

.haeder-contact .h-link {
  color: var(--primary-text-color);
}

.haeder-contact .h-link:hover,
.haeder-contact .h-link:focus 
{
  color: var(--link-hover-color)
}
 
/* section */
.section-title{
  color: var(--title-color);
}

/* features  Особенности*/
.feature-list .title {
color: var(--title-color);
}

.team .title{
  color: var(--title-color)
}

/* button */
.button {
;
background-color: var(--link-hover-color);
width: 200px;
height: 50px;
left: 700px;
top: 430px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;

}

.button-text{
color: #fff;
width: 136px;
height: 30px;
left: 732px;
top: 440px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

}





/* 
.order > .section-title{
  color: #FFFFFF
} */



/*
колір основного тексту #212121
колір h1 #FFFFFF
колір web #2196F3
колір p, mail tel (header) #757575
колір background #2F303A
колір background наша команда #F5F4FA ;
колір

header {
  position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;
background: #FFFFFF;
}

.logo {
  position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: black;
}

.site-nav {
position: absolute;
width: 294px;
height: 16px;
left: 453px;
top: 32px;
}

.haeder-contact-mail {
position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
}

.haeder-contact-tel {
position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;

}*/
